.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.spec {
    line-height: 0.3!important;
    margin-left: 0.5rem!important;
}
.font-weight-light {
    font-weight: 100;
}
.spec-button {
    line-height: inherit!important;
}

.join-button {
    margin-top: 0.30rem!important;
}
